<%= link_to 'Новый пост', new_blog_post_path if admin? %>
<% @blog_posts.each do |blog_post| %>
      <div class="blog-header">
	<h2><%= blog_post.header %></h2>
      </div>
      <div class="blog-time">
	<%= blog_post.created_at.localtime.strftime("%d-%m-%Y")%>&nbsp;&nbsp;&nbsp;
	<%= blog_post.created_at.localtime.strftime("%H:%M")%>
      </div>
      <div class="blog-page">
	<p><% MyERB.new(blog_post.cut_page).result(binding)%></p>
	<%= link_to "Подробнее", blog_post %>
      </div>
      <% if admin? %>
	<%= link_to "Правка", edit_blog_post_path(blog_post)%> |
	<%= link_to "Удалить", blog_post, method: :delete, data: { confirm: 'Are you sure?' }%>
      <% end %>

    <% end %>
  </tbody>
</table>

<br>


