<h1>Listing store_items</h1>

<table>
  <thead>
    <tr>
      <th>Название</th>
      <th>Путь</th>
      <th>Группа</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @store_items.each do |store_item| %>
      <tr>
	<td><%= store_item.name %></td>
	<td><%= store_item.route %></td>
	<td><%= store_item.group %></td>
        <td><%= link_to 'Show', store_items_path + "/#{store_item.route}" %></td>
        <td><%= link_to 'Edit', edit_store_item_path(store_item) %></td>
        <td><%= link_to 'Destroy', store_item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Item', new_store_item_path %>
