<div class="zen-navbar">
  <span class="zen-navbar-left">
    <%=image_tag 'logo.png'%>
    <span class="zen-navbar-header">
      <p class="zen-navbar-brand">Тесла</p>
      <p class="zen-navbar-brand-desc">Лучшие зарубежные новинки</p>
    </span>
  </span>
  <div class="zen-navbar-right">
    <table>
      <tr>
	<td class="<%=@path&&@path.include?(blog_posts_path) ? "active" : ""%>"><%= link_to 'Блог', blog_posts_path %></td>
	<td class="<%=@path&&@path.include?(store_items_path) ? "active" : ""%>"><%= link_to 'Магазин', store_items_path %></td>
	<td class="<%=@path&&@path.include?(new_user_session_path) ? "active" : ""%>"><%= user_signed_in? ? link_to('Выйти', destroy_user_session_path, method: :delete) : link_to('Войти', new_user_session_path) %></td>
      </tr>
    </table>
  </div>
</div>
