<%= form_for(@store_page) do |f| %>
  <% if @store_page.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@store_page.errors.count, "error") %> prohibited this store_page from being saved:</h2>

      <ul>
      <% @store_page.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name, "Название" %><br>
    <%= f.text_field :name, class:"form-control"%>
  </div>
  
  <div class="form-group">
    <%= f.label :route, "Путь" %><br>
    <%= f.text_field :route, class:"form-control"%>
  </div>
  
  <div class="form-group">
    <%= f.label :html, "Страница" %><br>
    <%= f.text_area :html, class:"form-control", rows: "50", cols: "100"%>
  </div>

  <div class="form-group">
    <%= f.label :store_item_id, "Item_id" %><br>
    <%= f.text_field :store_item_id, class:"form-control"%>
  </div>

  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
